@use '../utilities/variables' as *;

@media (min-width: 768px) and (max-width: 1023px) {

    /* INDEX - ARTICLE */
    article {
        grid-template-columns: 1fr;
    }

    .bloques {
        grid-template-columns: 1fr 1fr;
    }

    /* INDEX - PROYECTOS */
    .section-main-container {
        grid-template-columns: 1fr;
    }

    /* FOOTER */
    .footer-container {
        flex-wrap: wrap;
        gap: 2rem;
    }

    /* PROYECTOS */
    .proyectos-grid {
        grid-template-columns: 1fr 1fr;
    }

    .hero-proyecto {
        background-size: 100% 9vh;
        padding: 4rem 2rem;
    }

    /* CONTACTO - NUEVO */
    .contact-container {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    .contact-info h1 {
        font-size: 3rem;
    }

    .contact-form {
        max-width: 100%;
    }
}
