@use '../utilities/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $color-text;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  border-top: 1px solid $color-border;
  margin-bottom: 1.5rem;
}