@use '../utilities/' as *;

.contact-hero {
  position: relative;
  background-color: $color-primary;
  color: $color-white;
  overflow: hidden;
}

.contact-hero-img img {
  width: 100%;
  height: 15vh;
  object-fit: cover;
  display: block;
}

.contact-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: $padding-section;
}

// LEFT - INFO
.contact-info {

  h1 {
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    margin-bottom: $padding-base;
  }

  h3 {
    font-weight: 400;
    margin-bottom: 3rem;
  }
}

.info-items p {
  margin-bottom: $padding-base;
  font-size: $font-size-base;
}

// RIGHT - FORM
.contact-form {
  width: 100%;
  max-width: 500px;

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 1.5rem;
    font-size: $font-size-sm;
  }

  input,
  textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid $color-white;
    padding: 0.5rem 0;
    color: $color-white;
    font-size: $font-size-base;
  }

  textarea {
    border: 1px solid $color-white;
    margin-top: 0.5rem;
    padding: $padding-base;
    resize: none;
  }

  button {
    margin-top: $padding-section;
    padding: 0.8rem;
    border-radius: $radius-btn;
    border: 1px solid $color-white;
    background: transparent;
    color: $color-white;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $color-white;
      color: $color-contact-btn-hover;
    }
  }
}
